<meta charset="utf-8">
<script>
function change(id)
{

    var disp=id.parentNode.parentNode;
    var disp_full = disp.getElementsByTagName("DIV")[1];
    var disp_small = disp.getElementsByTagName("DIV")[0];

    if(disp_full.style.display=='none')
    {
        disp_small.style.display="none"
        disp_full.style.display=""
    }
    else{
        disp_small.style.display=""
        disp_full.style.display="none"
    }
}
</script>


<div id="all">
<div id="smallContent" style="display:block">{{ include.small }}
<br>
[<a href="javascript" onclick="change(this)">详细</a>]</div>
<div id="fullContent" style="display:none">{{include.full}}
<br>
[<a href="javascript" onclick="change(this)" >收起</a>]</div>
</div >


