<meta charset="utf-8">
<script>
function change()
{
var disp_full=document.getElementById("fullContent").style.display
var disp_sm=document.getElementById("smallContent").style.display
if(disp_sm=='none')
{
alert("You clicked on a " + disp_sm+ " element.")
disp_sm=''
disp_full='none'
}
else
{
alert("You clicked on a " + disp_full+ " element.")
disp_sm='none'
disp_full=''

}

}
</script>


<div id="all">
<div id="smallContent" style="display:block">{{ include.small }}
<br>
[<a href="#" onclick="change()">详细</a>]</div>
<div id="fullContent" style="display:none">{{include.full}}
<br>
[<a href="#" onclick="change()" >收起</a>]</div>
</div id="all">



